<% layout('layouts/boilerplate') %>
<style>
    body{
        background-color: rgb(39, 40, 40)
    }
</style>
<form action="/equipment/new" method="POST" class="card p-5">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" aria-describedby="productName">
      </div>
      <div class="mb-3">
        <label for="qty" class="form-label">Qty</label>
        <input type="number" class="form-control" id="qty" name="qty" aria-describedby="productName">
      </div>
      <select class="form-select mb-3" name="type" aria-label="Default select example">
        <option selected>Set Type</option>
        <option value="Speaker">Speaker</option>
        <option value="Console">Console</option>
        <option value="Microphone">Microphone</option>
        <option value="Wireless">Wireless</option>
        <option value="Signal-Cabel">Signal-Cabel</option>
        <option value="Power-Cabel">Power-Cabel</option>
        <option value="Power-Distro">Power-Distro</option>
      </select>
      <select class="form-select mb-3" name="avail" aria-label="Default select example">
        <option selected>Set Availability</option>
        <option value="Available">Available</option>
        <option value="On-site">On-Site</option>
      </select>
     <div class="form-check mb-4">
         <input class="form-check-input" type="checkbox" value="true" id="status" name="status">
         <label class="form-check-label" for="status">
             Operational
         </label>
         </div>
         <div class="mb-3">
            <button class="btn btn-primary w-25 position-absolute bottom-0 start-50 translate-middle">ADD</button>
         </div>
         
</form>