<div class="row">

    <div class="col">
       <div class="card ucard bg-light shadow-lg mb-3 "  style="width: 15rem;">
         <div class="card-body">
           <h3 class="card-title  mb-2 text-primary  fs-2">UPCOMING</h3>
           <h4 class="card-subtitle  mb-2 text-primary fs-2">SHOWS: <span class="fw-bold"><%= counter.upcoming %></span></h4>
           <form action="/dash/uevent-search" method="POST"><button class="btn position-absolute bottom-0 end-0" id="scardbtn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" 
               class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
               <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3
                0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
           </svg></button></form>
         </div>  
       </div>
    </div>

    <div class="col">
     <div class="card ocard bg-light shadow-lg mb-3 "  style="width: 15rem;">
         <div class="card-body">
            <h3 class="card-title  mb-2 text-warning  fs-2">ONGOING</h3>
             <h4 class="card-subtitle  mb-2 text-warning fs-2">SHOWS: <span class="fw-bold"><%= counter.ongoing %></span></h4>
              <form action="/dash/oevent-search" method="POST"><button class="btn position-absolute bottom-0 end-0" id="scardbtn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" 
                     class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                     <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3
                      0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
               </svg></button></form>
    </div>
   </div>
</div>

<div class="col">
   <div class="card ccard bg-light shadow-lg mb-3 "  style="width: 15rem;">
       <div class="card-body">
          <h3 class="card-title  mb-2 text-success  fs-2">COMPLETED</h3>
           <h4 class="card-subtitle  mb-2 text-success fs-2">SHOWS: <span class="fw-bold"><%= counter.complete %></span></h4>
            <form action="/dash/cevent-search" method="POST"><button class="btn position-absolute bottom-0 end-0" id="scardbtn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" 
                   class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                   <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3
                    0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
             </svg></button></form>
  </div>
 </div>
</div>

</div>