body {
    background-color: rgb(39, 40, 40);
}

/* .main-header{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
} */

.title-heading{
    width: auto;
    margin-right: 100%;
}

.navbar{
    box-shadow: 0 5px 10px rgb(45, 45, 45);
}

.nav-link{
    transition-duration: 0.3s;
}

.nav-link:hover{
    transform: scale(0.9);
    color:  #0d6efd;;
}

.nav-link:active{
    color:  #0d6efd;;
}

#scardbtn{
    transition-duration: 0.3s;
}

#scardbtn:hover{
    color: #0d6efd;
}