<link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
<link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<link rel="stylesheet" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css">

<script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/script/calendar.js" defer></script>

<% layout('layouts/boilerplate') %>
<div class="container-fluid mb-3">
    <h1 class="text-primary mb-3">DASHBOARD</h1>
    <%- include('../partials/dashcard') %>
</div>

<hr class="border border-light border-1 rounded opacity-75 mb-3">

<div class="container-fluid mb-3 w-50">
 <div class="row">
  <div class="col">
    <div class="card p-2">
  
      <%- include('../partials/dashboard/cal-nav') %>
        <div id="calendar" class="p-2" style="height: 600px; width: auto;"></div>

    </div>

  </div>
 </div>
</div>
